@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Montserrat' ;
}
.container2{
    display: flex;
}
.card{
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px rgb(0, 0, 0);
    color: black;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow,transform ;
    transition-property: box-shadow,transform;
}
.card:hover,.card:focus,.card:active{
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
}
p{
    color: rgb(255, 255, 255);
    position: absolute;
    font-size: 40px;
    bottom: 240px;
}
img{
height: 500px;
}
.card:hover{
    cursor: pointer;
}
body{
    align-items: center;
display: flex;
  height: 100vh;
  justify-content: center;
  background: rgb(181,31,31);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b51f1f",endColorstr="#000000",GradientType=1);
  background: -moz-linear-gradient(90deg, rgba(181,31,31,1) 9%, rgba(0,0,0,1) 34%);
  background: -webkit-linear-gradient(90deg, rgba(181,31,31,1) 9%, rgba(0,0,0,1) 34%);
  background: linear-gradient(90deg, rgba(181,31,31,1) 9%, rgba(0,0,0,1) 34%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b51f1f",endColorstr="#000000",GradientType=1);
}
.button2{
font-size: 20px;
text-decoration: none;
background-color: rgb(0, 0, 0);
color: #ffffff;
position: fixed;
top:80vh;
right: 170vh;
width:100px;
padding: 10px;
border-radius: 9px;
cursor: pointer;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-property: box-shadow,transform ;
transition-property: box-shadow,transform;
}
.button2:hover,.button2:focus,.button2:active{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.button21{
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    position: fixed;
    top:80vh;
    left: 170vh;
    width:100px;
    padding: 10px;
    border-radius: 9px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow,transform ;
    transition-property: box-shadow,transform;
    }
    .button21:hover,.button21:focus,.button21:active{
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }